@import "tailwindcss";
@config "../tailwind.config.ts";

@theme {
  --background-image-dot-grid: radial-gradient(circle at center, #353535 1px, transparent 1px);
}

@utility bg-dot-grid {
  background-image: var(--background-image-dot-grid);
  background-size: 32px 32px;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
